# Mac
.DS_Store
.AppleDouble
.LSOverride

# Editor
.vscode/
*.swp
*.swo
~$*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
.venv/
*.egg-info/
dist/
build/
.mypy_cache/
.ruff_cache/
.pytest_cache/

# Node
node_modules/
npm-debug.log*
.next/
out/

# Env
.env
.env.local
.env.*.local

# Jupyter
.ipynb_checkpoints/

# Logs
*.log
